
.projectdescription{
color: aquamarine;
text-align-last: center;
}

.project{
    top: 25%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}

.project2{
    top: 75%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}

.project4{
    top: 175%;
    padding-bottom: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}

.project3{
    top: 125%;
    padding-bottom: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}

.project5{
    top: 225%;
    padding-bottom: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}

.project6{
    top: 275%;
    padding-bottom: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}

.project7{
    top: 325%;
    padding-bottom: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}

.projectheading{
    z-index: 1;
    position: absolute;
    margin-top: 20px;
    left: 50%;
    color: aquamarine;
}

.button1{
    margin-right: 120px;
    margin-top: 20px;
}

.button2{
    margin-top: 20px;
}

.fa{
    margin-right: 0.5rem;
}

.d-block.w-100{
height: 280px;
}