@media screen and (max-width: 1350px) {
    #welcome {
        left: 19%;
      }
}

@media screen and (max-width: 1100px) {
    #welcome {
        left: 15%;
      }
}

@media screen and (max-width: 1025px) {
    #welcome {
        left: 9%;
      }
}

@media screen and (max-width: 950px) {
    #welcome {
        left: 5%;
      }
}

@media screen and (max-width: 870px) {
    .description{
        width: 600px;
    }
    #welcome {
        left: 16%;
      }
}

@media screen and (max-width: 800px) {
    #welcome {
        left: 12%;
      }
}

@media screen and (max-width: 700px) {
    #welcome {
        left: 7%;
      }
}

@media screen and (max-width: 661px) {
    #welcome {
        left: 4%;
      }
}

@media screen and (max-width: 631px) {
    .description{
        width: 450px;
    }
    #welcome {
        left: 15%;
      }
}
