@media screen and (min-width: 1350px) {
    #particles-js {
        height: 2750px;
    }
}

@media screen and (max-width: 1350px) {
    #particles-js {
        height: 2750px;
    }
}

@media screen and (max-width: 1155px) {
    .project2 {
        top: 80%;
    }
    .project3 {
        top: 130%;
    }
    .project4 {
        top: 175%;
    }
    .project5 {
        top: 220%;
    }
    .project6 {
        top: 263%;
    }
    .project7 {
        top: 307%;
    }
    #particles-js {
        height: 3000px;
    } 
}

@media screen and (max-width: 992px) {
    .project2 {
        top: 95%;
    }
    .project3 {
        top: 155%;
    }
    .project4 {
        top: 204%;
    }
    .project5 {
        top: 250%;
    }
    .project6 {
        top: 295%;
    }
    .project7 {
        top: 340%;
    }
    #particles-js {
        height: 3175px;
    }
}

@media screen and (max-width: 950px) {
    .project2 {
        top: 90%;
    }
    .project3 {
        top: 150%;
    }
    .project4 {
        top: 195%;
    }
    .project5 {
        top: 240%;
    }
    .project6 {
        top: 285%;
    }
    .project7 {
        top: 330%;
    }
    #particles-js {
        height: 2975px;
    }
}


@media screen and (max-width: 768px) {
    .projectdescription {
        width: 60%;
    }
    .projectcarousel {
        width: 40%;
    }
    .project {
        top: 20%;
    }
    .project2 {
        top: 125%;
    }
    .project3 {
        top: 220%;
    }
    .project4 {
        top: 285%;
    }
    .project5 {
        top: 345%;
    }
    .project6 {
        top: 405%;
    }
    .project7 {
        top: 470%;
    }
    #particles-js {
        height: 3495px;
    }
    .button2 {
        margin-left: 80px;
    }
    .button2 {
        margin-top: -70px;
    }
    .projectcarousel {
        margin-top: 50px;
    }
}

@media screen and (max-width: 477px) {
    .projectdescription {
        width: 100%;
        margin-bottom: 25px;
    }
    .projectcarousel {
        width: 100%;
    }
    .button2 {
        margin-top: 21px;
    }
    .project2 {
        top: 144%;
    }
    .project3 {
        top: 261%;
    }
    .project4 {
        top: 357%;
    }
    .project5 {
        top: 451%;
    }
    .project6 {
        top: 546%;
    }
    .project7 {
        top: 645%;
    }
    #particles-js {
        height: 4877px;
    }
    .projectheading {
        left: 40%;
    }
    .projectcarousel {
        margin-top: 0px;
    }
}

@media screen and (max-width: 441px) {
    .button2 {
        margin-top: -69px;
        margin-left: 180px;
    }
    .project2 {
        top: 146%;
    }
    .project3 {
        top: 264%;
    }
    .project4 {
        top: 356%;
    }
    .project5 {
        top: 452%;
    }
    .project6 {
        top: 544%;
    }
    .project7 {
        top: 643%;
    }
    #particles-js {
        height: 5375px;
    }
    .projectdescription {
        margin-bottom: 0px;
    }
}