@media screen and (max-width: 1350px) {
    #welcome {
        left: 19%;
      }
}

@media screen and (max-width: 1100px) {
    #welcome {
        left: 15%;
      }
}

@media screen and (max-width: 1025px) {
    #welcome {
        left: 9%;
      }
}

@media screen and (max-width: 950px) {
    #welcome {
        left: 5%;
      }
}

@media screen and (max-width: 870px) {
    .description{
        width: 600px;
    }
    #welcome {
        left: 16%;
      }
}

@media screen and (max-width: 800px) {
    #welcome {
        left: 12%;
      }
}

@media screen and (max-width: 700px) {
    #welcome {
        left: 7%;
      }
}

@media screen and (max-width: 661px) {
    #welcome {
        left: 4%;
      }
}

@media screen and (max-width: 631px) {
    .description{
        width: 450px;
    }
    #welcome {
        left: 15%;
      }
      #particles-js1 {
        height: 125vh;
      }
}

@media screen and (max-width: 580px) {
    .description{
        width: 330px;
    }
    #welcome {
        left: 15%;
      }
      #particles-js1 {
        height: 135vh;
    }
}

@media screen and (max-width: 451px) {
    .description{
        width: 360px;
        text-align: left;
    }
    #welcome {
        left: 9%;
      }
    #particles-js1 {
        height: 130vh;
    }
}

@media screen and (max-width: 411px) {
    .description{
        width: 280px;
        text-align: left;
    }
    #welcome {
        left: 13%;
      }
    #particles-js1 {
        height: 125vh;
    }
    h1 {
        text-align: center;
    }
    #particles-js1 {
        height: 150vh;
    }
}