@media screen and (min-width: 1350px) {
    #particles-js {
        height: 2550px;
    }
}

@media screen and (max-width: 1350px) {
    #particles-js {
        height: 2250px;
    }
}

@media screen and (max-width: 1155px) {
    .project2 {
        top: 87%;
    }
    .project3 {
        top: 145%;
    }
    .project4 {
        top: 195%;
    }
    .project5 {
        top: 245%;
    }
    .project6 {
        top: 295%;
    }
    #particles-js {
        height: 2675px;
    } 
}

@media screen and (max-width: 992px) {
    .project2 {
        top: 103%;
    }
    .project3 {
        top: 173%;
    }
    .project4 {
        top: 225%;
    }
    .project5 {
        top: 277%;
    }
    .project6 {
        top: 330%;
    }
    #particles-js {
        height: 2600px;
    }
}

@media screen and (max-width: 950px) {
    .project2 {
        top: 103%;
    }
    .project3 {
        top: 173%;
    }
    .project4 {
        top: 225%;
    }
    .project5 {
        top: 277%;
    }
    #particles-js {
        height: 2500px;
    }
}


@media screen and (max-width: 768px) {
    .projectdescription {
        width: 60%;
    }
    .projectcarousel {
        width: 40%;
    }
    .project {
        top: 20%;
    }
    .project2 {
        top: 125%;
    }
    .project3 {
        top: 220%;
    }
    .project4 {
        top: 285%;
    }
    .project5 {
        top: 345%;
    }
    .project6 {
        top: 405%;
    }
    #particles-js {
        height: 3045px;
    }
    .button2 {
        margin-left: 80px;
    }
    .button2 {
        margin-top: -70px;
    }
    .projectcarousel {
        margin-top: 50px;
    }
}

@media screen and (max-width: 477px) {
    .projectdescription {
        width: 100%;
        margin-bottom: 25px;
    }
    .projectcarousel {
        width: 100%;
    }
    .button2 {
        margin-top: 21px;
    }
    .project2 {
        top: 150%;
    }
    .project3 {
        top: 275%;
    }
    .project4 {
        top: 380%;
    }
    .project5 {
        top: 485%;
    }
    .project6 {
        top: 590%;
    }
    #particles-js {
        height: 4500px;
    }
    .projectheading {
        left: 40%;
    }
    .projectcarousel {
        margin-top: 0px;
    }
}

@media screen and (max-width: 441px) {
    .button2 {
        margin-top: -69px;
        margin-left: 180px;
    }
    .project2 {
        top: 150%;
    }
    .project3 {
        top: 270%;
    }
    .project4 {
        top: 365%;
    }
    .project5 {
        top: 465%;
    }
    .project6 {
        top: 560%;
    }
    #particles-js {
        height: 4290px;
    }
    .projectdescription {
        margin-bottom: 0px;
    }
}