.success {
    color: #0ff40f;
  }
  
  .error {
    color: #960303;
  }

.contactme{
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}

p.sub-title{
color: white;
text-align: center;
font-size: 1.5rem;
text-shadow: 0px 1px 3px rgba(0,0,0,0.6);
}

.contactform{
      background: blue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 90vh;
      background-image: url("https://media.kidadl.com/60121f5f107018646b4b4b08_we_have_all_the_beautiful_waterfall_quotes_c66afe1a97.jpeg");
      background-size: cover; 
    }

  #contact-container{
    z-index: 1;
      width: 1200px;
      border-radius: 15px;
      overflow: hidden;
      padding: 10px;
      display: flex;
      backdrop-filter: blur(15px);
      border: 1px solid rgba(255, 255, 255, .2);
      box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 10px 33px 0px rgba(0,0,0,0.75);
    }

  .contact-info{
      background-color: #5904c2;
      border-radius: 15px;
      flex: 0 1 40%;
      padding: 40px;
      color: white;
      display: flex;
      flex-direction: column;
      text-align: center;
  }

.formdiv{
    flex: 0 1 60%;
    text-align: center;
    text-align: -webkit-center;
}

form{
    width: 400px;
}

  h4{
      font-size: 2rem;
      font-weight: 500;
      margin: 0;
  }

p{
    font-size: 1.2rem;
    color: rgba(255, 255, 255, .7);
    font-weight: 300;
    margin-bottom: 2rem;
}

  .icon-text{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #05f7ff;
  }

 .fa{
     font-size: 1.8rem;
     margin-right: 2rem;
     flex: 0 0 40px;
 }

 span{
     font-size: 1.3rem;
     font-weight: 300;
 }

 .social-media{
display: flex;
width: 50%;
/* justify-content: space-between; */
margin-top: 30px;
 }

 .icon-circle{
flex: 0 1 40px;
height: 40px;
width: 40px;
border-radius: 50%;
align-items: center;
display: flex;
transition: .3s all ease-in-out;
 }

 .icon-circle:hover{
    background:#05f7ff;
 }

 .fa{
font-size: 25px;
 }