#nav-dropdown-dark-example{
    color: white;
}
.navbar-brand {
    display: flex;
    align-items: center;
  }

.navbar {
z-index: 1;
}

.nav1{

}

.nav2{
  display: none;
  width: 100%;
}

@media (max-width: 451px) {
  .nav1{ display: none; }
  .nav2{ display: inline-block; }
}